<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "tri" class = "com.uhg.facilitate.inject.objects_to_classes.Triangle">
    
    	<property name = "Px">
    		<bean id = "pointA" class = "com.uhg.facilitate.inject.objects_to_classes.Point">
    			<property name = "x" value = "10" />
    			<property name = "y" value = "10" />
    		</bean>
    	</property>
    	
    	<property name = "Py">
    		<bean id = "pointB" class = "com.uhg.facilitate.inject.objects_to_classes.Point">
    			<property name = "x" value = "20" />
    			<property name = "y" value = "20" />
    		</bean>
    	</property>
    	
    	
    	<property name = "Pz">
    		<bean id = "pointC" class = "com.uhg.facilitate.inject.objects_to_classes.Point">
    			<property name = "x" value = "30" />
    			<property name = "y" value = "30" />
    		</bean>
    	</property>
    	
    </bean>

</beans>