<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "NC" class = "com.uhg.facilitate.objects.attributes.NonConstructorBased">
    	<property name = "name" value = "Tanmay" />
    	<property name = "id" value = "001919017" />
    </bean>
    
    <bean id = "CC" class = "com.uhg.facilitate.objects.attributes.ConstructorBased">
    	<constructor-arg type = "String" value = "001717019" />
    </bean>

</beans>